<div>
    <h2 translate="refugeesApp.offer.home.title">Offers</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="offer.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                        translate="refugeesApp.offer.home.createLabel">Create new Offer
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="quantity"><span translate="refugeesApp.offer.quantity">Quantity</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="expiration"><span translate="refugeesApp.offer.expiration">Expiration</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="categoryId"><span translate="refugeesApp.offer.category">category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="seasonId"><span translate="refugeesApp.offer.season">season</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sizeId"><span translate="refugeesApp.offer.size">size</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="donationConditionId"><span translate="refugeesApp.offer.donationCondition">donationCondition</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="genderId"><span translate="refugeesApp.offer.gender">gender</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="organizationId"><span translate="refugeesApp.offer.organization">organization</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="statusId"><span translate="refugeesApp.offer.status">status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="offer in offers track by offer.id">
                    <td><a ui-sref="offer.detail({id:offer.id})">{{offer.id}}</a></td>
                    <td>{{offer.quantity}}</td>
                    <td>{{offer.expiration | date:'medium'}}</td>
                    <td>
                        <a ui-sref="category.detail({id:offer.categoryId})">{{offer.categoryId}}</a>
                    </td>
                    <td>
                        <a ui-sref="season.detail({id:offer.seasonId})">{{offer.seasonId}}</a>
                    </td>
                    <td>
                        <a ui-sref="size.detail({id:offer.sizeId})">{{offer.sizeId}}</a>
                    </td>
                    <td>
                        <a ui-sref="donationCondition.detail({id:offer.donationConditionId})">{{offer.donationConditionId}}</a>
                    </td>
                    <td>
                        <a ui-sref="gender.detail({id:offer.genderId})">{{offer.genderId}}</a>
                    </td>
                    <td>
                        <a ui-sref="organization.detail({id:offer.organizationId})">{{offer.organizationId}}</a>
                    </td>
                    <td>
                        <a ui-sref="status.detail({id:offer.statusId})">{{offer.statusId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="offer.detail({id:offer.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="offer.edit({id:offer.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="offer.delete({id:offer.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <uib-pager total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pager>
</div>
