
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySizeLabel" translate="refugeesApp.size.home.createOrEditLabel">Create or edit a Size</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="size.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="refugeesApp.size.value" for="field_value">Value</label>
            <input type="text" class="form-control" name="value" id="field_value"
                    ng-model="size.value"
                     />
        </div>

        <div class="form-group">
            <label translate="refugeesApp.size.category" for="field_category">category</label>
            <select class="form-control" id="field_category" name="category" ng-model="size.category" ng-options="category as category.id for category in categorys track by category.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
